
body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(59, 59, 59);
  }
  /* header ---------------------------------------------- */
  a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgba(255, 255, 255, 0);
  }
  
  a:hover {
    color: rgb(17, 17, 17);
    background-color: rgba(255, 255, 255, 0.945);
  }
  
  a:active {
    color: rgb(189, 189, 17);
    background-color: transparent;
  }
  
.image-site{
    position: relative;
}
.image-site .komaki{
    position: absolute;
    top: 91%;
    right: 15%;
}
.image-site .komaki .social-logos{
    position: absolute;
    top:80%;
    right: 100%;
    display: grid;
    grid-template-columns: 26px 26px 30px;
    grid-gap: 70%;
}

.image-site .headernav{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.719);
    top: 0%;
}
.image-site .headernav .headernavitems{
    display: block;
    text-decoration: none;
    font-family: 'FS Albert Arabic Web Regular' , 'B nazanin';
    font-size: 20px;
    direction: rtl;
    position: right center absolute;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;

}

  .image-site .txt-rotate{
    position: absolute;
    width: 35%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.801);
    top: 24%;
    left:15%;
    font-size: 45px;
    direction: rtl;
    color: white;
  }

/* header-responsive */
  .image-site .sidebar {
    margin: 0%;
    padding: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.801);
    position: absolute;
    font-size: 7px;
    height: 97.5%;
    top: 0;
    overflow: auto;
  }
  
  .image-site .sidebar a {
    color: white;
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
  }
  
  .image-site .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
/* header button */
  .image-site .openbtn {
    font-size: 15px;
    position: absolute;
    top: 0;
    cursor: pointer;
    background-color: #ffffff00;
    margin: 1%;
    color: white;
    border: none;
    display: none;

  } 
    /* header finished---------------------------------------------- */
    

 @media screen and (min-width: 757px) and (max-width:992px){
    .image-site .komaki{
         right: 13%
     }
    .image-site .komaki .social-logos{
        top:90%;
        grid-gap: 45%;
    }
    .image-site .txt-rotate{
        font-size: 25px;
    }
    .image-site .headernav .headernavitems{
        font-size: 17px;
    }
}

@media screen and (min-width: 400px) and (max-width: 757px){
    .image-site .komaki{
        top: 90%;
        right: 13%
    }
    .image-site .komaki .social-logos{
        grid-template-columns: 12px 12px 18px;
        top:70%;
        top:75%;
        grid-gap:45%;
        
    }
    .image-site .txt-rotate{
        font-size: 17px;
    }
    .image-site .headernav .headernavitems{
        font-size: 10px;
    }

}
@media screen and (max-width: 400px){
  .sidebar{
    width: 0;
    transition: 0.5s;
  }
    .image-site .komaki{
        top: 85%;
        right: 13%
    }
    .image-site .komaki .social-logos{
        grid-template-columns: 6px 6px 10px;
        top:70%;
        grid-gap:45%;
        
    }
    .image-site .txt-rotate{
        font-size: 10px;
    }
    .image-site .openbtn{
        display: block;
        
      }
      .image-site .headernav {
        display: none;
    }
      .image-site .headernav .headernavitems{
        display: none;
    }
    .image-site .txt-rotate{
      transition: 0.5s;
  }
}
 
