
body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(59, 59, 59);
    scroll-behavior: smooth;
  }
  /* header ---------------------------------------------- */
  .image-site .headernav a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  .image-site .headernav a:visited {
    color: rgba(255, 255, 255, 0);
  }
  
  .image-site .headernav a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
  }
  .image-site .headernav  a:active {
    color: rgb(189, 189, 17);
    background-color: transparent;
  }
  
.image-site{
    position: relative;
}
.image-site .komaki{
    position: absolute;
    top: 90%;
    right: 15%;
}


.image-site .komaki .social-logos{
    position: absolute;
    top:80%;
    right: 100%;
    display: grid;
    grid-template-columns: 26px 26px 30px;
    grid-gap: 70%;
}
.image-site .komaki .social-logos a:hover {
opacity: 50%;
transition: 0.5s;
}
.image-site .headernav{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.719);
    top: 0%;
}
.image-site .headernav .headernavitems{
    display: block;
    text-decoration: none;
    font-family: 'FS Albert Arabic Web Regular' , 'B nazanin';
    font-size: 20px;
    direction: rtl;
    position: right center absolute;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;

}

  .image-site .txt-rotate{
    position: absolute;
    width: 35%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.479);
    top: 24%;
    left:15%;
    font-size: 45px;
    direction: rtl;
    color: rgb(0, 0, 0);
  }

/* header-responsive */
  .image-site .sidebar {
    margin: 0%;
    padding: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.801);
    position: absolute;
    font-size: 7px;
    height: 97.5%;
    top: 0;
    overflow: auto;
  }
  
  .image-site .sidebar a {
    color: white;
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
  }
  
  .image-site .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
/* header button */
  .image-site .openbtn {
    font-size: 15px;
    position: absolute;
    top: 0;
    cursor: pointer;
    background-color: #ffffff00;
    margin: 1%;
    color: white;
    border: none;
    display: none;

  } 
    /* header finished---------------------------------------------- */
.KRBBH {
  background-color: rgba(0, 0, 0, 0.233);
  overflow:hidden;
position: relative;
top: -26.5px;
  width: 100%;
  height: 100%;

}
.KRBBH:after{
  content:"";
  width:500%;
  height:100%;
  position:absolute;
  top:0%;
  z-index:1;
  background-image: -webkit-linear-gradient(left top, rgba(94, 199, 204, 0.00) 0%, rgb(0,0,0, 0.589)  50%, rgba(238, 238, 238, 0.00) 100%);
  background-image: -moz-linear-gradient(left top, rgba(94, 199, 204, 0.00) 0%,rgb(0,0,0, 0.589)  50%, rgba(238, 238, 238, 0.00) 100%);
  background-image: -o-linear-gradient(left top, rgba(94, 199, 204, 0.00) 0%, rgb(0,0,0, 0.589) 50%, rgba(238, 238, 238, 0.00) 100%);
  background-image: -ms-linear-gradient(left top, rgba(94, 199, 204, 0.00) 0%, rgb(0,0,0, 0.589)  50%, rgba(238, 238, 238, 0.00) 100%);
  background-image: linear-gradient(left top, rgba(94, 199, 204, 0.00) 0%, rgba(0, 0, 0, 0.589)  50%, rgba(238, 238, 238, 0.00) 100%);
  animation: gradient 10s infinite;
}
.KRBBH:hover{
  background-color: rgba(0, 0, 0, 0.233);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

@keyframes gradient{
  0%{
    left:100%;
  }
  100%{
    left:-500%;
  }
}


@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 


.KRBBH-img1{
  display: flex;
  position: absolute;
  top: 20%;
  margin-left: 6%;

}

.KRBBH-text1{
  position: absolute;
  width: 32%;
  text-align: center;
  color :white;
  font-family:'FS Albert Arabic Web Regular' , 'B nazanin';
  font-size: 1.6vw;
  left: 57%;
  top: 22%;
}

 .box2 {
  position: relative;
  top: 100px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}



/* media  */

@media screen and (min-width: 757px) and (max-width:992px){
    .image-site .komaki{
         right: 13%
     }
    .image-site .komaki .social-logos{
        top:90%;
        grid-gap: 45%;
    }
    .image-site .txt-rotate{
        font-size: 25px;
    }
    .image-site .headernav .headernavitems{
        font-size: 17px;
    }

    .KRBBH {

      height: 480px;
    
    }
}

@media screen and (min-width: 400px) and (max-width: 757px){
    .image-site .komaki{
        top: 90%;
        right: 13%
    }
    .image-site .komaki .social-logos{
        grid-template-columns: 12px 12px 18px;
        top:70%;
        top:75%;
        grid-gap:45%;
        
    }
    .image-site .txt-rotate{
        font-size: 17px;
    }
    .image-site .headernav .headernavitems{
        font-size: 10px;
    }

    .KRBBH {

      height: 300px;
    
    }
 
}
@media screen and (max-width: 400px){
  .sidebar{
    width: 0;
    transition: 0.5s;
  }
    .image-site .komaki{
        top: 85%;
        right: 13%
    }
    .image-site .komaki .social-logos{
        grid-template-columns: 6px 6px 10px;
        top:70%;
        grid-gap:45%;
        
    }
    .image-site .txt-rotate{
        font-size: 10px;
    }
    .image-site .openbtn{
        display: block;
        
      }
      .image-site .headernav {
        display: none;
    }
      .image-site .headernav .headernavitems{
        display: none;
    }
    .image-site .txt-rotate{
      transition: 0.5s;
  }
 
  .KRBBH {

    height: 150px;
  
  }

}
 
